@{
    ViewBag.Title = "Home Page";
}

<br>
<br>
<img src="http://cdigs.uwindsor.ca/landing_images/UW_Logo_2L_horz_blk.png" height="100" width="500">

<div class="jumbotron">
    <h3>STUDENT INFORMATION SYSTEM (SIS) By S2G5 </h3>
    <p class="lead">SIS is an application to manage student information and registration system. </p>

</div>

<div class="row">
    <div class="col-md-4">

        <h3>@Html.ActionLink("Students", "Index", "Students")</h3>

    </div>
    <div class="col-md-4">
        <h3> @Html.ActionLink("Instructors", "Index", "Instructors")</h3>
    </div>
    <div class="col-md-4">
        <h3>@Html.ActionLink("Departments", "Index", "Departments")</h3>
    </div>
    <div class="col-md-4">
        <h3>@Html.ActionLink("Courses", "Index", "Courses")</h3>
    </div>
    <div class="col-md-4">
        <h3>@Html.ActionLink("Registrations", "Index", "Registrations")</h3>
    </div>
    <div class="col-md-4">
        <h3>@Html.ActionLink("StudyTerms", "Index", "StudyTerms")</h3>
    </div>
    <div class="col-md-4">
        <h3>@Html.ActionLink("TeachingAssignments", "Index", "TeachingAssignments")</h3>
    </div>

</div>



<div>

    <center>
        <p>

            <h3>PROJECT TEAM </h3><br>
            <div class="col-md-3">
                <h4>Jahnavi Singam-104921681 </h4>
            </div>
            <div class="col-md-3">
                <h4>Radhika Sharma-10489253 </h4>
            </div>
            <div class="col-md-3">
                <h4>Mounika Pasham-104906303</h4>
            </div>
            <div class="col-md-3">
                <h4>Rishnder Bodigum-104923650</h4>
            </div>
            <br><br>
            <br>
        <p />
    </center>
</div>

