@model S2G5_SISAPPLICATION.Models.Students

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Students</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentFname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentFname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentLname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentLname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentEnrollmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentEnrollmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentPhone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
